.box1{
	height:  100px;
	margin-bottom: 30px;
}
.box2{
	height:  100px;
}
.box3{
	height:  100px;
	margin-bottom: 30px;
}
.box4{
	height:  100px;
}
.box5{
	height:  100px;
}
.box6{
	height:  100px;
	margin-bottom: 30px;
}
.box7{
	height:  100px;
}
.box8{
	height:  100px;
}
.box9{
	height:  100px;
}
.box10{
	height:  100px;
}